-content_for :javascript do
  :javascript
    $( document ).on( 'turbolinks:load', function() {
      $( '.star-rating' ).raty({
        path: '/assets',
        readOnly: true,
        score: function() {
          return $( this ).attr( 'data-score' );
        }
      })
    })

.reviews
  .star-rating{ 'data-score': review.rating }
  %p= review.comment
  %p
    =link_to 'Edit', edit_review_path( review )
    |
    =link_to 'Delete', review, method: :delete, data:{ confirm:'Are you sure?' }
